#body {
  background-image: url(./images/pexels-jeffrey-paa-kwesi-opare-2813515.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 156px;
  font-size: 44px;
  font-weight: 200;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
